* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

html {
    color-scheme: dark light;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

// INDEX
@media (min-width: 40em) {
  .what-we-do-grid {
    display: grid;
    gap: 1.5rem;
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

// CONTACT
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 450px;
}

.map-responsive iframe {
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  position: absolute;
}


// SERVICE
.card::after {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: calc(100% - 40px);
  height: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  content: '';
  z-index: -1;
}
a.card {
  text-decoration: none;
}

.card {
  position: relative;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: .25rem;
}

.box-shadow {
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.bg-white {
  background-color: #fff !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.card-text {
  padding-top: 12px;
  color: #8c8c8c;
}

.text-sm {
  font-size: 12px !important;
}

.card-title {
  margin: 0;
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.pt-1, .py-1 {
  padding-top: .25rem !important;
}

.head-icon{
  margin-top:18px;
  color:#FF4500
}

.darker-image {
  filter: brightness(0.6);
}

.h-hr {
    height:3px;
    border:none;
    color:rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
}

// FOOTER 
.footer-basic {
    padding:20px 0;
    background-color:#000000;
    color:#ffffff;
    margin-top: auto;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:rgb(255, 255, 255);
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding: 20px 0;
  }
  
  .footer-basic .social > a {
    font-size:35px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:2px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
  }
// END FOOTER 

// PROJECTS
.post-entry-1.lg h2 {
  font-size: 40px;
  line-height: 1;
}

.author .photo {
  margin-right: 10px;
}

.author .photo img {
  width: 40px;
  margin-bottom: 0;
}

.author .name h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--font-secondary);
}

.post-entry-2 {
  margin-bottom: 30px;
}

.post-entry-2 .author {
  color: rgba(var(--color-black-rgb), 0.7);
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}

.post-entry-2.half .thumbnail {
  flex: 0 0 35%;
}

@media (max-width: 768px) {
  .post-entry-2.half .thumbnail {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.post-entry-2.small-img .thumbnail {
  flex: 0 0 30%;
}

@media (max-width: 768px) {
  .post-entry-2.small-img .thumbnail {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.custom-pagination a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-family: var(--font-secondary);
  margin: 5px;
  transition: 0.3s all ease;
  text-decoration: none;
}

.custom-pagination a.active {
  background: var(--color-black);
  color: var(--color-white);
}

.custom-pagination a.active:hover {
  background: rgba(var(--color-black-rgb), 0.9);
}

.custom-pagination a:hover {
  background: rgba(var(--color-black-rgb), 0.1);
}

.custom-pagination a.prev,
.custom-pagination a.next {
  width: auto !important;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-pagination a.prev:hover,
.custom-pagination a.next:hover {
  background: rgba(var(--color-black-rgb), 0.1);
} 
// END PROJECTS

// KATALOX LIGHT
@media(min-width: 40em){
  .main-grid {
    display: grid;
    gap: 1.5rem;
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .katalox-box:nth-child(3) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }

  .katalox-img-grid {
    gap: .6rem;
    width: min(95%, 70rem);
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
  }
 
  .katalox-img:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 5;

  }

  .katalox-img:nth-child(4) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .katalox-img:nth-child(5) {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  // END KATALOX

  // START ISOFT-BOX
  .isoft-box:first-child{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .isoft-box:nth-child(2){
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .isoft-box:nth-child(3){
    grid-row-start: 3;
    grid-column: span 2;
  }
  .isoft-box:nth-child(4){
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .isoft-box-img:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .isoft-box-img:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .isoft-box-img:nth-child(4) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .isoft-box-img:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
  }
  // END ISOFT BOX

  // START FILTERSORB-SP3
  .filtersorb-box:first-child{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .filtersorb-box:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .filtersorb-box:nth-child(3){
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  // END FILTERSORB-SP3
}



